<h1>Car rental page</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <p> The car's status:   <%= @car.status %></p>
    <p>The Customer's ID:  <%= @car.user_id %></p>

  </div>

</div>

<li><%= link_to "Back To Home page", current_user%></li>